<!DOCTYPE html>
<html lang="en">
@@include("partials/head.html", { "title": "{{appName}}" })
<body class="bg-gray-100 text-gray-700 font-sans antialiased" data-controller="application">
  <main class="max-w-4xl mx-auto bg-white shadow p-8">
    <header class="text-center py-8">
      <h1 class="text-5xl font-light leading-none">Welcome to Cameron</h1>
      <h2 class="text-2xl font-light text-pink-600">A Simple Framework for Simple Apps</h1>
    </header>

    <p class="">
      <a class="text-pink-600 font-semibold" href="https://github.com/cannikin/cameron">Cameron</a>
      is a lightweight framework for building simple HTML/JS/CSS apps (that maybe even have an
      API). If you want to get something online that has some simple interactivity, forms and
      even an API, but don't want to go full-blown React then you've come to the right place.
    </p>

    <p class="mt-4">
      You write HTML, CSS and Javascript and Cameron will generate plain ol' HTML files for
      serving however you like. If you want to deploy your site to
      <a class="text-pink-600 font-semibold" href="https://netlify.com">Netlify</a> then
      you can also submit forms, add signup/login and even provide an API all without worrying
      about any server setup or infrastructure.
    </p>

    <p class="mt-4">
      Although you can structure your code any way you want, Cameron provides some sensible
      defaults:
    </p>

    <ul class="mt-4 ml-4 list-disc list-inside">
      <li>
        We like <a class="text-pink-600 font-semibold" href="https://stimulusjs.org">StimulusJS</a>
        for adding Javascript interactivity to our pages without the
        overhead and baggage of something like jQuery. As the Stimulus Handbook says, it is
        "designed to augment your HTML with just enough behavior to make it shine."
      </li>
      <li class="mt-2">
        We like <a class="text-pink-600 font-semibold" href="https://tailwindcss.com">Tailwind CSS</a>
        because, as they say, it "provides low-level utility classes that
        let you build completely custom designs without ever leaving your HTML."
      </li>
      <li class="mt-2">
        We like <a class="text-pink-600 font-semibold" href="https://netlify.com">Netlify</a>
        because you can deploy your code in seconds and lets you work with
        serverless functions without managing them yourself.
      </li>
    </ul>

    <h2 class="text-xl mt-4">Stuff to learn about:</h2>
    <ul class="mt-2 list-disc list-inside">
      <li>StimulusJS</li>
      <li>Tailwind CSS</li>
      <li>Netlify</li>
    </ul>

    <h2 class="text-xl mt-4">Commands</h2>
    <ul class="mt-2 list-disc list-inside">
      <li>yarn start</li>
      <li>yarn serve</li>
      <li>yarn build</li>
      <li>yarn watch</li>
    </ul>
  </main>
</body>
</html>
